<aside>
  <div class="sidebar" data-group="dashboard" data-tab="sidebar">
    <div class="frame">
      <img class="profile-img" alt="{{actor.name}}" src="{{actor.img}}" title="{{actor.name}}" data-edit="img"/>
      <img class="overlay" src="systems/demonlord//assets/ui/image-circle.webp"/>
    </div>
  </div>
</aside>
