@import 'aside-base';

form {
  aside {
    background: url('../assets/ui/sidebar_vehicle.webp') no-repeat top center;

    .sidebar {
      .framevehicle {
        height: 170px;
        margin-left: 9px;
        margin-top: 0;
      
        .overlay {
          position: absolute;
          height: 170px;
          width: 170px;
          left: 40px;
          pointer-events: none;
        }
      }
    }
  }
}
