section.window-content {
  padding: 0;
  overflow: hidden;
}


.window-content {
  background: url(../assets/ui/sidebar_background.webp), url(../assets/ui/paper.webp);
  background-repeat: repeat-x, no-repeat;
  background-size: auto 130px, cover;
  background-attachment: local;
  padding: 5px;
  font-size: 13px;
  overflow-y: hidden;
}

form {
  aside {
    display: block;
    grid-area: sidebar;
    color: #fff;
    font-family: $font-primary;
    font-size: 10px;
    font-weight: 600;
    text-transform: uppercase;
    height: 720px;
    width: 247px;
    position: fixed;
    overflow: hidden;

    .sidebar {
      margin: 0 23px 0 30px;
      height: 650px;
      overflow: hidden;
      scrollbar-width: thin;
      scrollbar-color: var(--demonlord-red) transparent;

      img {
        border: none;
      }

      .profile-img {
        position: relative;
        top: 27px;
        right: -27px;
        height: 119px;
        width: 119px;
        border-radius: 60px;
        object-fit: cover;
        object-position: top;
        cursor: pointer;
      }

      .editBars {
        position: relative;
        left: 174px;
        top: 25px;
      }

      .chars.grid {
        gap: 0;
        padding-left: 5px;
        padding-right: 8px;
        padding-bottom: 10px;
      }

      .box {
        position: relative;
        text-align: center;
        padding-left: 5px;
        padding-right: 5px;

        .box-inner {
          position: relative;
          height: 19px;
          width: 40px;
          border-radius: 16px;
          border: none;
          box-shadow: 0 0 0 1px #000, 0 0 0 2px #c74134, 0 0 0 3px #000, inset 0 0 8px rgba(0, 0, 0, 0.5),
            0 0 8px #c74134;
          font-weight: 500;
          font-size: 13px;
          margin: auto;
      
          input {
            position: relative;
            top: 0px;
            left: 0px;
            border: none;
            color: white;
          }

          input[type="number"] {
            width: 40px;
            height: 20px;
          }
  
          input[type="checkbox"] {
            display: none;
            opacity: 0;
            height: 0px;
            width: 0px;
            position: absolute;
          }

          .checkmark {
            width: 40px;
            height: 40px;
            position: absolute;
            top: -5px;
            left: -7px;
          }

          /* Create the checkmark/indicator (hidden when not checked) */
          .checkmark:after {
            content: "";
            background-image: url('../assets/ui/bloodstain.webp');
            position: absolute;
            display: none;
          }

          /* Show the checkmark when checked */
          input:checked ~ .checkmark:after {
            background-image: unset;
            display: block;
          }
        }

        .box-text {
          text-align: center;
          width: 100%;
          padding-bottom: 5px;
        }
      }

      .box.checkbox {
        .box-inner {
          width: 30px;
          height: 30px;
        }
        .box-text {
          padding-top: 5px;
        }
      }

      .box.left {
        .box-inner {
          margin: unset;
        }

        .box-text {
          text-align: left;
        }
      }

      .box.right {
        .box-inner {
          margin: unset;
          margin-left: auto;
        }

        .box-text {
          text-align: right;
        }
      }
      
      .bar {
        padding-left: 5px;
        padding-right: 5px;
        height: 30px;

        .bar-inner {
          width: 100%;
          background-color: #e0e0e0;
          padding: 1px;
          margin-top: 3px;
          border-radius: 3px;
          box-shadow: 0 0 0 1px #000, 0 0 0 2px #c74134, 0 0 0 3px #000, inset 0 0 8px rgba(0, 0, 0, 0.5),
            0 0 8px #c74134;
        }

        .bar-fill {
          display: block;
          height: 12px;
          background-color: var(--demonlord-red);
          border-radius: 3px;
          transition: width 500ms ease-in-out;
        }

        .bar-max {
          float: right;
          margin-top: -13px;
          padding-right: 10px;
          color: #000;
        }

        .bar-current {
          float: left;
          margin-top: -13px;
          padding-left: 5px;
          color: #000;
        }

        .bar-fill.speedbar-fill {
          background-color: darkgoldenrod;
        }

        .bar-fill.insanity-fill {
          background-color: darkgreen;
        }

        .bar-fill.corruption-fill {
          background-color: darkmagenta;
        }
      }  
      
      .edit {
        padding-left: 5px;
        padding-right: 5px;
        
        .edit-inner {
          width: 100%;
          border-radius: 16px;
          border: none;
          box-shadow: 0 0 0 1px #000, 0 0 0 2px #c74134, 0 0 0 3px #000, inset 0 0 8px rgba(0, 0, 0, 0.5), 0 0 8px #c74134;
          font-weight: 500;
          font-size: 13px;
          margin-left: auto;
          margin-right: auto;
          height: 15px;
          text-align: center;
          margin-top: 2px;

          input {
            position: relative;
            top: -6px;
          }
        }
      }
      
      .turnmode {
        margin-top: 15px;
        text-align: center;
      }
    }
  }
}
