@import 'aside-base';

form {
  aside {
    background: url('../assets/ui/sidebar.webp') no-repeat top center;
  }

  aside.npc {
    background: url('../assets/ui/sidebar_npc.webp') no-repeat top center;
  }
}

.window-content {
  background: url(../assets/ui/sidebar_background.webp), url(../assets/ui/paper.webp);
  background-repeat: repeat-x, no-repeat;
  background-size: auto 130px, cover;
  background-attachment: local;
}

form {
  aside {
    .framenpc {
      height: 170px;
      margin-left: 9px;
      margin-top: 0;
    
      .overlay {
        position: absolute;
        height: 170px;
        width: 170px;
        left: 40px;
        pointer-events: none;
      }
    }

    .frame {
      height: 170px;
      margin-left: 9px;
      margin-top: 0;
    
      .overlay {
        position: absolute;
        height: 170px;
        width: 170px;
        left: 40px;
        pointer-events: none;
      }
    }

    .charstat {
      position: relative;
      bottom: 15px;
    }

    .injured-overlay {
      background: url(../assets/ui/injured-overlay.webp) no-repeat top left;
      background-size: 171px 171px, cover;
      pointer-events: none;
      position: absolute;
      top: 0px;
      left: 41px;
      width: 171px;
      height: 171px;
      border-radius: 100px;
    }

    .profile-img {
      position: relative;
      top: 27px;
      right: -27px;
      height: 119px;
      width: 119px;
      border-radius: 60px;
      object-fit: cover;
      object-position: top;
      cursor: pointer;
    }

    .box.buttonbox {
      .box-inner {
        margin: unset;
        width: 30px;
        height: 30px;
        border-radius: 50%;
      }

      .box-text {
        padding-bottom: 0px;
        padding-top: 5px;
      }
      
      .rest-char.button {
        width: 30px;
        height: 30px;
        position: relative;
        left: -4px;
        top: -6px;
        border-radius: 25px;
        background: transparent;
        border: none;
        cursor: pointer;
      }

      .heal-char.button {
        width: 30px;
        height: 30px;
        position: relative;
        left: -4px;
        top: -6px;
        border-radius: 25px;
        background: transparent;
        border: none;
        cursor: pointer;
      }

      .rest-icon {
        pointer-events: none;
        content: url('../../../icons/svg/sleep.svg');
        position: relative;
        left: -1px;
        top: -30px;
      }

      .heal-icon {
        pointer-events: none;
        content: url('../../../icons/svg/sleep.svg');
        position: relative;
        left: -1px;
        top: -30px;
      }
    }
  

    .bar {
      .insanitymiddle,
      .corruptionmiddle {
        margin-top: -13px;
        color: #000;
        text-align: center;
      }

      .insanity-roll,
      .corruption-roll {
        float: right;
        position: relative;
        top: -28px;
        right: 5px;
      }
    }
  }

  aside.npc {
    background: url('../assets/ui/sidebar_npc.webp') no-repeat top center;
  }
}
