@import 'aside-base';

form {
  aside {
    background: url('../assets/ui/sidebar_creature.webp') no-repeat top center;
  
    .sidebar {
      .charstat {
        position: relative;
        bottom: 15px;
      }
      
      .framecreature {
        height: 170px;
        margin-left: 9px;
        margin-top: 0;
      
        .overlay {
          position: absolute;
          height: 170px;
          width: 170px;
          left: 40px;
          pointer-events: none;
        }
      }
    }

    .dl-side-tab-container {
      position: absolute;
      top: 200px;
      pointer-events: none;
    }

    .dl-side-tab {
      transition: left 200ms ease-in-out;
      position: relative;
      background-color: var(--demonlord-red);
      width: 150px;
      height: 32px;
      border-radius: 0 5px 5px 0;
      line-height: 32px;
      text-align: center;
      left: -130px;
      pointer-events: initial;
      margin-bottom: 2px;
    }

    .dl-side-tab:hover {
      left: -20px;
      margin-left: 20px;
    }
  }

  .editmode {
    position: relative;
    left: 29px;
    top: 10px;
    text-transform: uppercase;
    font-weight: bold;

    .switchBig {
      width: 130px;

      input:checked + .slider:before {
        -webkit-transform: translateX(116px);
        -ms-transform: translateX(116px);
        transform: translateX(116px);
      }

      input:disabled + .slider:before {
        content: '';
        background-image: url('../assets/ui/bloodstain.webp');
      }
    }
  }
}
